<% provide(:title, 'All Users') %>
<h1>All Users</h1>

<%= form_tag users_path, :method => :get do %>
  <p>
  <div class="row">
  <div class="span6 offset3">
    <%= text_field_tag :search, params[:search] %> 
    <button class='btn btn-medium btn-primary'><%= "Search" %></button>
    </div>
  </div>
  </p>
<% end %>

<div>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate @users %>
</div>